*{
  margin:0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bitter', serif;
}
h1{
    font-size: 60px;;
    font-family: 'Bitter', serif;
}
body{
  background-color: rgb(255, 229, 33);
  text-aligne: center;
  font-family: 'Bitter', serif;
  font-size: 40px;
  }
header{
  font-family: 'Bitter', serif;
  text-align: center ;
  list-style: none;
  color:#1a1a1a;
  padding: 0;
  margin: 0;
}
img {
height:100px;
width: 110px;
  }
nav{
  outline: 2px solid red;
}
div{
  outline: 2px solid red;
  background: #1a1a1a;
  }
li{
outline: 2px solid yellow;
font-size: 30px;
font-family: 'Bitter', serif;
text-align: center;
line-height: 55px;
flex-direction: column;
}
ul {
  outline: 2px solid blue;
  list-style: none;
  text-decoration: yellow;
  margin:0;
  padding: 0;
  width: 400px;
  margin-left:auto;
  margin-right: auto;
  flex-direction: column;
}
a{
    outline: 2px solid green;
    text-decoration: none;
    line-height: 55px;
    color:#FDF5E6;
    display: block;
    padding: 15px 20px;

}
a:hover{
    background: #333;
    color:#ffe521;
    text-decoration: none;
}
ul li:first-child a{
background: #696969 ;
line-height: 60px;
}
div li:first-child a{
/*background: #696969 ;
line-height: 60px;*/
}
